<div class="bjj-cont-page bjj-bg-white container-fluid">
    <div class="bjj-page-title">修改密码</div>
    <div class="password-main">
        <div class="password-content">
            <div class="form-group form-group-password">
                <label class="pull-left control-label control-label">输入原密码：</label>
                <div class="pull-left control-input">
                    <input ng-keyup="checkPassword()" type="password" class="form-control inputPassword" placeholder="输入原密码" ng-model="oldPassword">
                    <span ng-show="old">密码不正确</span>
                    <span ng-show="nullOld">密码不能为空</span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group form-group-password">
                <label class="pull-left control-label control-label">输入新密码：</label>
                <div class="pull-left control-input">
                    <input ng-keyup="checkNewPassword()" type="password" class="form-control inputPassword" ng-keyup="newPasswordClick(newPassword)" placeholder="6-18个字符，支持英文、数字、下划线" ng-model="newPassword" maxlength="18">
                    <span ng-show="nullNew">密码不能为空</span>
                    <span ng-show="repeat">新密码与原密码一致</span>
                    <span ng-show="errorPassword" class="error-password">密码格式错误，请重新输入</span>
                    <span ng-show="testPassword">6-18个字符，支持英文、数字、下划线</span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group password-sign">
                <div class="password-color">
                    <span class="{{weakColor}} sign"></span>
                    <span class="{{middleColor}} {{middle}} sign"></span>
                    <span class="{{strongColor}} sign"></span>
                </div>
            </div>
            <div class="form-group form-group-password">
                <label class="pull-left control-label control-label">确认密码：</label>
                <div class="pull-left control-input">
                    <input ng-keyup="checkConfirmPwd()" type="password" class="form-control inputPassword" placeholder="确认密码" ng-model="confirmPassword">
                    <span ng-show="nullConfirm">密码不能为空</span>
                    <span ng-show="passwordConfirm">两次输入的密码不一致</span>
                </div>
            </div>
            <div class="form-group">
                <input class="passwordButton pull-right btn btn-primary" type="button" value="提交" ng-click="submit()">
            </div>
        </div>
    </div>
</div>