@font-face {
    font-family: "SourceHanSans";
    src: url("SourceHanSans.eot"); /* IE9 */
    src: url("SourceHanSans.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("SourceHanSans.woff") format("woff"), /* chrome、firefox */
    url("SourceHanSans.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("SourceHanSans.svg#SourceHanSans") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


